@charset "utf-8";

body { font-family: "Inter", sans-serif; font-size: 1.6rem; line-height: 1.5; color: #333;}
.inner { max-width: 1700px; margin: 0 auto; padding: 0 20px;}

/* main */
.btn_more a{ position: absolute; padding: 10px 30px; background: #5D879B; color: #fff; border-radius: 30px; left: 20%; top: 80%; transform: translate(-50%,-50%);}

.btn_more1 a{ position: absolute; padding: 10px 30px; background: #5D879B; color: #fff; border-radius: 30px; left: 50%; top: 75%; transform: translate(-50%,-50%);}


h2 {font-family: "Londrina Shadow", sans-serif; }
/* header */
#header { font-family: "Inter", sans-serif; transition: all 0.5s;  border-bottom: 1px solid rgba(255,255,255,0.3); position: fixed; left: 0; top: 0; width: 100%; z-index: 2;} 

#header .inner { align-items: center; display: flex; justify-content: space-between;}

#header .gnb { display: flex;}

#header .gnb > li > a { transition: all 0.5s; display: block; padding: 20px 40px; font-size: 2rem; font-weight: 600; color: white;
    /* background-color: white; */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#header .gnb > li > a:hover { color: #000; text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;}



/* intro */
#intro{ position: relative; background: url('../images/intro_backgound.jpg') no-repeat; height: 100vm; }
#intro h2 { font-family: "Londrina Solid", sans-serif; letter-spacing: 1.2rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center; font-size: 110px;}

#intro .intro_wrap1 {  z-index: 3; height: 500px; animation: intro_wrap1 forwards infinite 15s linear;}
#intro .intro_wrap1 img { width: 200%; display: block;}

#intro .intro_wrap2 {  z-index: 3;  height: 500px; animation: intro_wrap2 forwards infinite 15s linear;}
#intro .intro_wrap2 img { width: 200%; display: block;}

@keyframes intro_wrap1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-100%,0);}
}

@keyframes intro_wrap2{
    0%{transform: translate(-100%,0);}
    100%{transform: translate(0,0);}
}

/* about */
#about{ transition: all 1s; background: url('../images/about.png') no-repeat; position: relative; }
#about .table_wrap { position: absolute; background: #fff; width: 650px; height: 600px; align-items: center; left: 50%; top: 50%; transform: translate(-50%,-50%); }

#about .table_wrap table { position: absolute; background: #fff; width: 430px; height: 400px;  left: 50%; top: 50%; transform: translate(-50%,-50%);  }
#about h2 { text-align: center; padding-top: 30px; font-size: 40px;}
#about table tr:first-child { opacity: 0;}
#about table td { padding-left: 30px;}


@keyframes star{
  0%{transform: rotate(0deg) scale(1);}
  50%{transform: rotate(2deg) scale(1.05);}
  100%{transform: rotate(0deg) scale(1);}
}

#about .star1 { position: absolute; top: 0; right: 0; animation: star forwards infinite 2s linear;}
#about .star2 { position: absolute; top: 0; right: 0; animation: star forwards infinite 2s linear;}


/* works */
#works{ background: url('../images/works.jpg') no-repeat;}
#works h2 { text-align: center; font-size: 40px; padding-bottom: 30px;}
#works .swiper-slide { display: flex; gap: 10px; }
#works .work { background: #fff; width: 60%; height: 60%; padding-bottom: 40px; border-radius: 20px;}
#works .work ul { top: 40px; }
#works .work_txt { width: 40%; padding-left: 50px;}


#works .work_txt h3 { font-size: 30px; font-weight: 600;}
#works .work_txt p { padding-top: 20px; padding-right: 20px; font-size: 18px; line-height: 1.7;}

#works .work_img { width: 60%; padding-right: 50px; }
#works .work_img img { display: block; width: 100%;}

/* #event .swiper-button-prev { width: 70px; height: 70px; border-radius: 50%; background: #8557EB url('../images/sub/chevron-left.svg') no-repeat center; }
#event .swiper-button-prev::after { display: none;}


#event .swiper-button-next { width: 70px; height: 70px; border-radius: 50%; background: #8557EB url('../images/sub/chevron-right.svg') no-repeat center;}
#event .swiper-button-next::after { display: none;} */

#works .swiper-button-prev { left: 200px; width: 172px; height: 130px; background: url('../images/button_l.png') no-repeat center; }
#works .swiper-button-prev::after { display: none;}


#works .swiper-button-next { right: 200px; width: 172px; height: 130px; background: url('../images/button_r.png') no-repeat center;}
#works .swiper-button-next::after { display: none;}


/* graphic */
#graphic{ background: url('../images/graphic.jpg') no-repeat;}
#graphic h2 { text-align: center; font-size: 40px; padding-bottom: 40px;}
#graphic .swiper-slide { display: flex; gap: 10px; }
#graphic .graphic { background: #fff; width: 60%; height: 60%; padding: 20px; border-radius: 20px;}
#graphic .graphic ul { top: 40px; }
#graphic .graphic_txt { width: 40%; padding-left: 50px;}

#graphic .graphic_txt h3 { font-size: 30px; font-weight: 600;}
#graphic .graphic_txt p { padding-top: 20px; padding-right: 20px; font-size: 18px; line-height: 1.7;}

#graphic .graphic_img { width: 60%; padding-right: 50px; }
#graphic .graphic_img img { display: block; width: 100%;}

#graphic .swiper-button-prev { left: 200px; width: 172px; height: 130px; background: url('../images/button_l.png') no-repeat center; }
#graphic .swiper-button-prev::after { display: none;}


#graphic .swiper-button-next { right: 200px; width: 172px; height: 130px; background: url('../images/button_r.png') no-repeat center;}
#graphic .swiper-button-next::after { display: none;}

/* technology */
#technology{ background: #000; position: relative;}
#technology h2 { text-align: center; font-size: 40px; padding-bottom: 40px; color: #fff;}
#technology .tech_inner { max-width: 1400px; margin: 0 auto; padding: 0 20px;}
#technology ul {background: #fff; width: 370px; height: 445px; border-radius: 30px; padding: 25px 0;} 
#technology .list { display: flex; align-items: center; justify-content: space-between;  }
#technology ul li a { font-size: 24px; display: inline-block; /* border-bottom: #333 5px solid;  */width: 70%; margin: 15px 55px; align-items: center; padding: 5px 0;}
#technology .list div { margin-left: 50px; width: 100px;
  height: 8px;
  background: #000;}

  @keyframes fade90 {
    0% {
        opacity: 1;
    }
  
    100% {
        opacity: 1;
        background: #000;
        width: 250px;
    }
  }

@keyframes fade80 {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 1;
      background: #000;
      width: 200px;
  }
}

@keyframes fade70 {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 1;
      background: #000;
      width: 190px;
  }
}

#technology .list .list_1 { animation: fade90 3s linear forwards;}

#technology .list .list_2 { animation: fade80 3s linear forwards;}

#technology .list .list_3 { animation: fade70 3s linear forwards;}

#technology .list .list_4 { animation: fade90 3s linear forwards;}

#technology ul:nth-child(1) li:nth-child(1) {background: url('../images/html.png') no-repeat right 45px center;}
#technology ul:nth-child(1) li:nth-child(3) {background: url('../images/css.png') no-repeat right 45px center;}
#technology ul:nth-child(1) li:nth-child(5) {background: url('../images/js.png') no-repeat right 45px center;}
#technology ul:nth-child(1) li:nth-child(7) {background: url('../images/figma.png') no-repeat right 45px center;}

#technology ul:nth-child(2) li:nth-child(1) {background: url('../images/photoshop.png') no-repeat right 45px center;}
#technology ul:nth-child(2) li:nth-child(3) {background: url('../images/illustrator.png') no-repeat right 45px center;}
#technology ul:nth-child(2) li:nth-child(5) {background: url('../images/premiere.png') no-repeat right 45px center;}
#technology ul:nth-child(2) li:nth-child(7) {background: url('../images/aftereffects.png') no-repeat right 45px center;}

#technology ul:nth-child(3) li:nth-child(1) {background: url('../images/excel.png') no-repeat right 45px center;}
#technology ul:nth-child(3) li:nth-child(3) {background: url('../images/powerpoint.png') no-repeat right 45px center;}
#technology ul:nth-child(3) li:nth-child(5) {background: url('../images/word.png') no-repeat right 45px center;}
#technology ul:nth-child(3) li:nth-child(7) {background: url('../images/hancom.png') no-repeat right 45px center;}


/* @keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      background: #fff;
      width: 100%
  }
}


#technology .wave_line {

  position: absolute;
  top: 300px;
  background: #000;
  animation: fade 5s linear forwards;
  
  width: 20px;
  height: 20px;
  
}

 */